

  body { 
   
                background: url(Ecol bakterier)no-repeat center center fixed;
                    -webkit-background-size: cover;

    background: url(sorthvis.jpg)no-repeat center center fixed;
                  -webkit-background-size: cover;

                        -moz-background-size: cover;
                            -o-background-size: cover;
    background-size: cover;   
	display: grid;
}
#navbar {
	position: fixed;
	background-color: #0b2145;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

}
li {
	display: inline;
	font-family: "Corbel";
	color: white;
	text-decoration: none;
	width: 100%;
	align-content: center;
}
.opskrift {
	display: block;
	align-content: center;
	font-size: 1.1em;
	color: #0b2145;
}
a {
	text-decoration: none;
	color: white;
	font-size: 1.6em;
	font-family: "Corbel";
	border-color: white;
	border: solid;
	border-radius: 20px;
	box-shadow: 5px 5px, white;
	padding: 5px;
}
a:hover {
	color: #10870d;
	border-color: white;

}
header {
	width: 100%;
}
section {
	width: 100%;
	padding-left: 1%;
	margin-right: 2%;
}
h1 {
	font-family: "Corbel";
	padding-left: 2%;
	padding-right: 5%;
}
h2 {
	font-family: "Corbel";
}
h3 {
	font-family: "Corbel";
}
h4 {
	font-family: "Corbel";
}
h5 {
	font-family: "Corbel";
	padding-left: 2%;
	padding-right: 5%;
}
h6 {
	font-family: "Corbel";
}
p {
	font-family: "Baskerville Old Face";
	padding-left: 2%;
	padding-right: 5%;
}
img {
	box-shadow: 2px 2px;
}
#home {
	grid-row: 
}
#information {
	grid-row:;
	max-width: 80%;
}
#smeltet {
	grid-row:;
	max-width: 80%;
}
#andre {
	grid-row:;
	max-width: 80%;
}
#guide {
	grid-row:;
	max-width: 80%;
}
footer {
	text-align: center;
	width: 100%;
	color: #10870d;
	position: bottom;
	background-color: #0b2145;
}
#footer {
	font-family: "Corbel";
}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {

}